.menu {
    margin: 24px 0px 24px 0px ;
    width: 132px;
    height: 852px;
    background: $black-color;
    border-radius: 24px;
    color: $white-color;
    @include flex(column, flex-start, center);

    .logo {
        width: 47px;
        height: 102px;        
        margin: 16px 43px 64px 42px;
        @include fon-baloo(64px, 102px);
    }

    div {
        margin-bottom: 64px;

        &:hover {
            cursor: pointer;
        }
    }

    div:last-of-type {
        margin-bottom: 0px;
        margin-top: 161px;
    }
    
}

