.peredniy-fon {
    background-color: white;
    padding: 80px;
    width: 500px;
}

.no-pass {
    bottom: 37%;
}

.stil-form i:first-of-type {
    color: red;
    font-size: 30px;
    left: 100%;
    bottom: 69%;    
}